{% macro nav(website_title, menu_items, active_item="") %}
<nav id="header" class="w-full z-10 top-0 shadow-md mx-0">
  <div id="progress" class="top-0"></div>
  <!-- <div class="w-full max-w-5xl mx-auto flex flex-wrap items-center justify-between mt-0 py-2  sm:bg-green-900 md:bg-red-900 lg:bg-blue-900 bg-yellow-900"> -->
  <div class="w-full max-w-4xl mx-auto flex sm:flex-nowrap flex-wrap items-center justify-between mt-0 py-2">
    <div class="pl-4">
      <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold" href="{{ config.base_url }}">
        {{ website_title }}
      </a>
    </div>

    <div class="w-full flex-grow sm:flex sm:items-center flex-wrap sm:flex-nowrap sm:w-auto sm:block mt-2 sm:mt-0 bg-transparent z-20" id="nav-content">
      <ul class="list-reset flex flex-wrap sm:justify-end flex-1 items-center">
          {% for item in menu_items -%}
          <li class="mr-3 text-sm">
            <a href={{ get_url(path=item.path, trailing_slash=false) }} class={%if item.name == active_item %}"inline-block py-2 px-4 text-sky-600 font-bold no-underline"{% else %}"inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"{%endif%} href="#">
              {{item.name}}
            </a>
          </li>
          {% endfor -%}
      </ul>
    </div>
  </div>
</nav>
{% endmacro %}